@model MusFit_FrontDesk.ViewModels.ClassRecordViewModel
@{
    var message = (string)ViewData["error"] ?? string.Empty;
    var messageSelect = (string)ViewData["errorSelect"] ?? string.Empty;
    var classRecord = ViewData["classRecord"] as List<MusFit_FrontDesk.ViewModels.ClassRecordViewModel> ?? null;
    var className = ViewData["className"] as List<MusFit_FrontDesk.ViewModels.ClassRecordViewModel> ?? null;
}
<head>
    <title>課程紀錄 | MusFit - 享受生活</title>
</head>

<link rel="stylesheet" href="~/css/Class_Record.css">

<div class="row container-fuild classRecord justify-content-center" method="get" action="@Url.Action("ClassRecord","Front")">

    <div class="row container-fuild classRecord_up pb-3" style="width:100%;">
        <div class="col-3"></div>
        <div class="col-6">
            <h4 class="text-center"><span class="icon-list-alt"> </span>課程紀錄</h4>
        </div>
    </div>
    <div class="from-group col-12 classRecord_center" method="get" asp-action="@Url.Action("ClassRecord","Front")">
        <label asp-for="CtDateFrom" class="ml-3 mr-2 mt-2">日期</label>
        <input asp-for="CtDateFrom" class="form-control" type="date" name="CtDate" style="width: 15%;">
        <label asp-for="CtDateTo" class="ml-3 mr-2 mt-2">～</label>
        <input asp-for="CtDateTo" class="form-control" type="date" name="CtDate" style="width: 15%;">

        <label asp-for="LcName" class="ml-3 mr-2 mt-2">課程項目</label>
        <div class="input-group" style="width: 20%;">
            <select class="custom-select " asp-for="LcName" onChange="LcNameChang(this);">
                <option>請選擇</option>
                @{
                    foreach (var item in className)
                    {
                            <option>@item.CName (第 @item.CtLession 堂) </option>
                    }
                }
            </select>
        </div>


        <button type="button" id="search" class="btn" onclick="Search()">查詢</button>
        <button type="button" id="all" class="btn" onclick="AllSearch()">全部記錄</button>


    </div>

    <div class="col-10 classRecord_down">
        <table id="classRecord"
               class="table table-hover "
               data-response-handler="responseHandler"
               data-side-pagination="server"
               data-pagination="true"
               data-url="Manage/ClassRecord"
               data-id-table="advancedTable">
            <thead>
                <tr style="border-bottom: 1px solid #dddddd">
                    <th scope="col" data-field="CNumber">課程代號</th>
                    <th scope="col" data-field="CName">課程名稱</th>
                    <th scope="col" data-field="CtDate">日期</th>
                    <th scope="col" data-field="Time">時段</th>
                    <th scope="col" data-field="CtLession">堂數</th>
                    <th scope="col" data-field="CrAttendance">出缺席</th>
                    <th scope="col" data-field="CrContent">課程內容</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in classRecord)
                    {
                                        <tr>
                                            <th scope="row">@item.CNumber</th>
                                            <td>@item.CName</td>
                                            <td>@item.CtDate ( @item.Weekday )</td>
                                            <td>@item.Time</td>
                                            <td>@item.CtLession</td>
                                            <td>@item.CrAttendance</td>
                                            <td>@item.CrContent</td>
                                        </tr>
                    }
                }

            </tbody>
        </table>
        @{
            if (message != "")
            {
                                <p id="error" style="color: red"><b>@ViewData["error"]</b></p>
            }
            if (messageSelect != "")
            {
                                <p id="error" style="color: red"><b>@ViewData["errorSelect"]</b></p>
            }
        }
    </div>
</div>

@*pagination*@
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination" id="pageid"></ul>
    </nav>
</div>

@section Scripts{
        <script>
            var lcNameAndCtLession = "";

            function LcNameChang(sel) {
                lcNameAndCtLession = sel.options[sel.selectedIndex].text;
            }


            //查詢
            function Search() {
                var dateFrom = $('input[id="CtDateFrom"]').val();
                var dateTo = $('input[id="CtDateTo"]').val();

                var result = "";
                //若符合一個或多值時
                if (dateFrom != "") {
                    result += 'CtDateFrom=' + dateFrom + '&';
                }

                if (dateTo != "") {
                    result += 'CtDateTo=' + dateTo + '&';
                }

                if (lcNameAndCtLession != "") {
                    result += 'LcNameAndCtLession=' + lcNameAndCtLession + '&';
                }

            
                window.location.href = '@Url.Action("ClassRecord", "Front")?' + result;
               
            }

            //全部查詢
            function AllSearch(){
                window.location.href = '@Url.Action("ClassRecord", "Front")';
            }

                // 分頁功能
            var pageid = document.getElementById('pageid');
            pageid.addEventListener('click', switchPage);
            var nowpage;

            function switchPage(n) {
                n.preventDefault();
                const nowpage = n.target.dataset.page; // nowpage = "data-page"
                console.log("nowpage:" + nowpage);
                pagination(jsonData, nowpage);
            }

            // 計算分頁數
            var page;
            function pagination(jsonData, nowPage) {

                const dataTotal = jsonData.length;
                const perpage = 5;
                const pageTotal = Math.ceil(dataTotal / perpage);

                let currentPage = nowPage;
                // 當"當前頁數"比"總頁數"大的時候，"當前頁數"就等於"總頁數"
                if (currentPage > pageTotal) { currentPage = pageTotal; }

                const minData = (currentPage * perpage) - perpage + 1;
                const maxData = (currentPage * perpage);

                // dynamic data array according to current page
                const data = [];

                jsonData.forEach((item, index) => {
                    const num = index + 1;
                    // 當 num 比 minData 大且又小於 maxData 就push進去新陣列。
                    if (num >= minData && num <= maxData) { data.push(item); }
                })
                page = {
                    pageTotal,
                    currentPage,
                    hasPage: currentPage > 1,  // has previous page
                    hasNext: currentPage < pageTotal,  // has next page
                }
                displayData(data);
                pageBtn(page, nowPage);
                console.log(`全部資料:${dataTotal} 每一頁顯示:${perpage}筆 總頁數:${pageTotal}`);
                document.getElementById("dataNum").innerText = `全部 :  共 ${dataTotal} 筆`;
            }

                function pageBtn(page, nowPage) {
                const totalPage = page.pageTotal;
                let pagination = document.querySelector('#pageid');
                var pageHtml = "", prevButton, nextButton;
                let pageIndex = parseInt(nowPage);

                if (page.hasPage) {
                    prevButton = `<li class='list-items' id='btnPrev'><a class="page-link" href="#" data-page="${Number(page.currentPage) - 1}">&laquo;</a></li>`;
                } else {
                    prevButton = `<li class='list-items' id='btnPrev'><a class="page-link" href="#"  data-page="${pageIndex}">&laquo;</a></li>`;
                }
                if (page.hasNext) {
                    nextButton = `<li class='list-items' id='btnNext'><a class="page-link" href="#" data-page="${Number(page.currentPage) + 1}">&raquo;</a></li>`;
                } else {
                    nextButton = `<li class='list-items' id='btnNext'><a class="page-link" href="#" data-page="${pageIndex}" >&raquo;</a></li>`;
                }

                let firstPage = `<li class='list-items' pagenumber=1><a class="page-link" href="#" data-page="${i}">1</a></li>`;
                let lastPage = `<li class='list-items' pagenumber=${totalPage}><a class="page-link" href="#" data-page="${totalPage}">${totalPage}</a></li>`;
                let leftOmitPage = `<li class='list-items' id='btnGoLeft'><a class="page-link" href="#" data-page="${i}">...</a></li>`;
                let rightOmitPage = `<li class='list-items' id='btnGoRight'><a class="page-link" href="#" data-page="${totalPage}">...</a></li>`;
                pageHtml = prevButton;
                /* 生成頁數 */
                if (totalPage <= 10) {
                    //  總頁數小於等於10頁全部顯示
                    for (let i = 1; i <= totalPage; i++) {
                        pageHtml += `<li class='list-items' pagenumber=${i}><a class="page-link" href="#" data-page="${i}">${i}</a></li>`;
                    }
                } else if (pageIndex <= 8) {
                    //總頁數大於10頁遠離總頁數
                    for (let i = 1; i <= 9; i++) {
                        pageHtml += `<li class='list-items' pagenumber=${i}><a class="page-link" href="#" data-page="${i}">${i}</a></li>`;
                    }
                    pageHtml += rightOmitPage;
                    pageHtml += lastPage;
                } else if (pageIndex > ( totalPage - 7 )) {
                    //總頁數大於10頁且當前頁接近總頁數
                    pageHtml += firstPage;
                    pageHtml += leftOmitPage;
                    for (let i =( totalPage - 8); i <= totalPage; i++) {
                        pageHtml += `<li class='list-items' pagenumber=${i}><a class="page-link" href="#" data-page="${i}">${i}</a></li>`;
                    }
                } else {
                    //當前頁在中間
                    pageHtml += firstPage;
                    pageHtml += leftOmitPage;
                    for (let i = (pageIndex - 3); i <=( pageIndex + 3); i++) {
                        pageHtml += `<li class='list-items' pagenumber=${i}><a class="page-link" href="#" data-page="${i}">${i}</a></li>`;
                    }
                    pageHtml += rightOmitPage;
                    pageHtml += lastPage;
                }
                pageHtml += nextButton;
                pagination.innerHTML = pageHtml;
                if(totalPage!=0)
                    document.querySelector("li[pagenumber='" + pageIndex + "']").classList.add('active');
            }

        </script>
}