@model MusFit_FrontDesk.Models.Student
<head>
    <title>個人資料修改 | MusFit - 享受生活</title>
</head>


<link rel="stylesheet" href="~/css/Change_Information.css" />

<div >
    <form class="change_information container-fluid" method="post"  action="@Url.Action("SEdit","Front")" enctype="multipart/form-data">
        <div class="row mt-5 justify-content-center">

            <div class="mt-4">
                <a href="@Url.Action("MemberArea","Front")" class="btn btnStudent btn-lg ">會員中心</a>
                <button type="button" class="btn btn-lg btnChange">個人資料修改</button>
                <a href="@Url.Action("EditPassword","Front")" class="btn btnPasswordEdit btn-lg ">密碼修改</a>
            </div>
        </div>
        <div class="row ">
            <div class="col-3"></div>
            <div class="col-6 ">
                <hr>
                <div>
                    <img src="@string.Format("data:image/png;base64,{0}", Model.SPhoto)" class="d-block mx-auto mb-4" id="myPhoto" width="200px" height="200px">
                    <div class="row justify-content-center photoFile ">
                        <span>請選擇</span>
                        <input type="file" asp-for="SPhoto" id="SPhoto" accept=".png, .jpg, .jpeg" onchange='imgUploadCheck(this)' />
                    </div>

                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-sm-3 col-form-label" asp-for="SName">姓名</label>
                    <div class="col-sm-8">
                        <input class="form-control" data-val="true" asp-for="SName"
                               name="SName" type="text" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="SName"
                              data-valmsg-replace="true" asp-validation-for="SName"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-sm-3 col-form-label" asp-for="SGender">性別</label>
                    <div class="col-sm-8 ">

                        <label class="form-check-label " id="SGender">
                            <input class="form-check-label" data-val="true" asp-for="SGender"
                                   name="SGender" type="radio" value="false" />女
                        </label>

                        <label class="form-check-label ml-lg-5" id="SGender">
                            <input class="form-check-label" data-val="true" asp-for="SGender"
                                   name="SGender" type="radio" value="true" />男
                        </label>

                        <span class="field-validation-valid text-danger" data-valmsg-for="SGender"
                              data-valmsg-replace="true" asp-validation-for="SGender"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-sm-3 col-form-label" asp-for="SBirth">生日</label>
                    <div class="col-sm-8">
                        <input class="form-control" data-val="true"  asp-for="SBirth"
                               name="SBirth" type="date"  />
                        <span class="field-validation-valid text-danger" data-valmsg-for="SBirth"
                              data-valmsg-replace="true" asp-validation-for="SBirth"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-sm-3 col-form-label" asp-for="SPhone">手機號碼</label>
                    <div class="col-sm-8">
                        <input class="form-control" data-val="true" asp-for="SPhone"
                               name="SPhone" type="tel"  />
                        <span class="field-validation-valid text-danger" data-valmsg-for="SPhone"
                              data-valmsg-replace="true" asp-validation-for="SPhone"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-sm-3 col-form-label" asp-for="SMail">電子郵件</label>
                    <div class="col-sm-8">
                        <input class="form-control" data-val="true" asp-for="SMail"
                               name="SMail" type="email"  />
                        <span class="field-validation-valid text-danger" data-valmsg-for="SMail"
                              data-valmsg-replace="true" asp-validation-for="SMail"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-sm-3 col-form-label" asp-for="SAddress">地址</label>
                    <div class="col-sm-8">
                        <input class="form-control" data-val="true" asp-for="SAddress"
                               name="SAddress" type="text" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="SAddress"
                              data-valmsg-replace="true" asp-validation-for="SAddress"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-sm-3 col-form-label" asp-for="SContactor">緊急連絡人</label>
                    <div class="col-sm-8">
                        <input class="form-control" data-val="true" asp-for="SContactor"
                               name="SContactor" type="text" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="SContactor"
                              data-valmsg-replace="true" asp-validation-for="SContactor"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-sm-3 col-form-label" asp-for="SContactPhone">緊急聯絡人電話</label>
                    <div class="col-sm-8">
                        <input class="form-control" data-val="true" asp-for="SContactPhone"
                               name="SContactPhone" type="tel"  />
                        <span class="field-validation-valid text-danger" data-valmsg-for="SContactPhone"
                              data-valmsg-replace="true" asp-validation-for="SContactPhone"></span>
                    </div>
                </div>


            </div>
        </div>
        <div class="row mt-3 ">
            <div class="col-7"></div>
            <div class="col">
                <button type="submit" class="btn btnCheck mb-5" style="width: 100px" href="@Url.Action("SEdit","Manage")">儲存</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        function imgUploadCheck(){
          //當檔案改變後，做一些事 
         readURL(this);   // this代表<input id="imgInp">
       };

       var base64String = "";
       var file;
       function readURL(input){
          //因為單選的關係，所以有檔案一定是在第0個
         file = document.getElementById("SPhoto").files[0];
        
         //預覽
         var reader = new FileReader();
         reader.onload = function (e) {
            base64String = e.target.result;//目標結果存入字串

             var addPhoto = document.getElementById("myPhoto");
             addPhoto.src = base64String;

          }
          //給URL
          reader.readAsDataURL(file);
        }




        







    </script>
}