@model MusFit_FrontDesk.Models.Student

@{
    var message = (string)ViewData["message"] ?? string.Empty;
    var error = (string)ViewData["error"] ?? string.Empty;

}

<head>
    <title>忘記密碼 | MusFit - 享受生活</title>
</head>


<link rel="stylesheet" href="~/css/Forget_Password.css" />

<div class="forget-password container-fluid">
    <div class="row justify-content-around forget-password-container">
        <div class="col-8 forget-password-center">
            <div class="forget-password-title">
                <h3>
                    <a href="@Url.Action("ForgetPassword","Front")">重設密碼</a>
                </h3>
            </div>
            <div class="forget-password-content">
                <form class="forget-password-form" name="forget-password-form" method="post" action="@Url.Action("ForgetPassword", "Front")">
                    <div class="from-group mb-2">
                        <span class="icon-envelope-o"></span>
                        <label asp-for="SAccount">帳號</label><br>
                        <small class="d-block text-muted">
                            <svg class="bi me-1" width="1em" height="1em"></svg>
                            *輸入你的會員帳號。我們會以電子郵件寄送重設密碼的連結給你。
                        </small>
                        <input asp-for="SAccount" type="text" name="SAccount">
                        @{
                            if(message != ""){

                                <br><span style="color:red;"><b>@(message)</b></span>
                            }

                            if(error != ""){

                                <br><span style="color:red;"><b>@(error)</b></span>

                            }
                        }
                    </div>
                    <div class="from-group mb-2">
                        <button type="submit" name="forget-password" value="forget-password" role="button" aria-pressed="true" onclick="SendMailToken()">送出</button>
                    </div>
                    
                </form>
            </div>
        </div>

    </div>
</div>

@section scripts{
        <script>
            // 前端驗證權杖
            function GetToken() {
                var token = '@Html.AntiForgeryToken()';
                token = $(token).val();
                return token;
            }


            // 寄送驗證碼
            function SendMailToken() {
                var self = this;

                // 組合表單資料
                var postData = {};
                postData['SId'] = self.form.SId;

                //宣告一個json格式的viewmodel傳過去GetStudentData
                var viewModel = {
                    "SAccount": $('input[id="SAccount"]').val(),
                    __RequestVerificationToken: self.GetToken()
                }

                alert(self.GetToken());
                // 使用 jQuery Ajax 傳送至後端
                $.ajax({
                    url: '@Url.Action("ForgetPassword", "Front")',
                    method: 'POST',
                    dataType: 'json',
                    data: viewModel,
                    success: function (data) {
                        if (data.ErrMsg) {
                            alert(data.ErrMsg);
                            return;
                        }
                        alert(data.ResultMsg);
                    },
                    error: function (err) {
                        $('#ErrorMsg').html(err.responseText);
                        $('#ErrorAlert').modal('toggle');
                    }
                });
            }




      
        </script>
}