@{
ViewData["Title"] = "Knowledge";
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    
    
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    <!-- Style -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/title.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>知識專欄 | MusFit - 享受生活</title>
</head>

<style>
    /* https://github.com/ButTaiwan/gensen-font */
    body {
        font-family: "GenSenRounded";

    }

    dialog {

        border: none;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 2px 6px #ccc;
        border-radius: 10px;
        width: 80vw;
        height: 80vh;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }



    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.05);
    }

    #infoModal {
        transition: 0.5s;
    }

    .infoModal {
        transition: 0.5s;
        /*opacity: 0.5; */

    }

    .close:hover {
        transition: 0.5s;
        color: red;
    }

    .close {
        transition: 0.5s;
        color: rgb(0, 0, 0);
    }

    #close:hover {
        transition: 0.5s;
        color: red;
    }

    #close {
        transition: 0.5s;
        color: rgb(0, 0, 0);
    }


    .w-full:hover {
        /*transition: 0.5s;*/
        scale: 1.02;
    }

    .w-full {
        transition: 0.5s;

    }

        .ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1px;
  width: 100%;
  background-color: #D39080;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<body>


<div  class="see");
background-size: 100% auto;
background-position:top">
    <div style="display: flex; justify-content: center; 
                align-items: center;
                height:  300px;
                background-size: 100% auto;
                background-image: linear-gradient(to top, rgb(255, 255, 255),rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
                "> 
                    <span class="ml5" style="color:#753b2d;
                       font-family: 'GenSenRounded';font-size:3em">
                      <span class="text-wrapper">
                        <span class="line line1"></span>
                        <span class="letters letters-left">知 識</span>
                    @*<span class="letters ampersand"></span>*@
                        <span class="letters letters-right">專 欄</span>
                        <span class="line line2"></span>
                      </span>
                    </span>
                  </div>
                </div>


    <br>


    <div class="flex flex-wrap -m-3" style="margin: 2vw;">
        <!-- 以下開始跑迴圈 -->
        @{
            var i = 1;
            foreach (var item in @ViewBag.KnowledgeColumn)
            {
                var photo = item.KPhoto1;
                var photo2 = item.KPhoto2;

                //string j = "https://picsum.photos/900/500/?random=" + @i;
                var show = "show" + @i; var infoModal = "infoModal" + @i; var close = "close" + @i;
                string date = @item.KDate.ToString();
                    <div data-aos="fade-up"
                 data-aos-duration="1000" data-aos-delay="900"
                        id=@show class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3" >
                            <a href="#review">
                    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
                        <div class="bg-cover h-48"
                                style="background-image: url(@photo);">
                        </div>
                                <div class="p-4 flex-1 flex flex-col">
                                                        <h3 class="mb-1 text-2xl" style="color:black;font-weight:bold">@item.KTitle</h3>
                                                        <span class="mb-3" style="color:black">@date.Substring(0,date.Length - 12)</span>
                                                <div class="mb-4 text-grey-darker text-sm flex-1">
                            @if (@item.KContent.Length>=15){<p>@item.KContent.Substring(0, 15)......(點我查看更多)
                            </p>
                        }else{
                            <p>@item.KContent......(點我查看更多)
                            </p>
                        }
                            </div>
                            <div class="mb-4 text-grey-darker text-sm flex-1" style="text-align: right; color:#000">
                                   作者：@item.KAuthor
                            </div>
                        </div>
                    </div>
                            </a>
            </div>
        
            <dialog id=@infoModal class="infoModal">
                <div style="display: flex;">
                    <div style="width: 85%;">
                                 <h1 style='font-family: "GenSenRounded";'>@item.KTitle</h1>
                                                <img  style="max-width:70vw; max-height:60vh;" src=@photo><br>
                                        <span style="white-space:pre-line;">
                         @item.KContent
                         </span>
                                   <img style="max-width:70vw; max-height:60vh;" src=@photo2><br>
                    </div>
                    <div style="width: 15%;
                         text-align: right;
                         height:60px;
                         position:fixed;
                         top:12%;
                         right:11%;">
                    <span id=@close class="close"><a href="#close" class="close" style="font-size: 50px;" >×</a></span></div>
                </div>
                        
                        </dialog>
                i++;
            }
    }

    </div>

</body>

<script src="../js/title.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>

<script>

    // let btn = document.querySelector("#show");
    // let infoModal = document.querySelector("#infoModal");
    // let close = document.querySelector("#close");
    // btn.addEventListener("click", function () {
    //     infoModal.showModal();
    // })
    // close.addEventListener("click", function () {
    //     infoModal.close();
    // })
    for (let i = 1; i <= @Model.Count ; i++) {
        let btn = document.querySelector("#show" + i);
        let infoModal = document.querySelector("#infoModal" + i);
        let close = document.querySelector("#close" + i);
        btn.addEventListener("click", function () {
            document.getElementById("infoModal" + i).style.opacity = "0";
            setTimeout(function () {
                infoModal.showModal();
                document.getElementById("infoModal" + i).style.opacity = "1";
            }, 100);
        }
        )
        close.addEventListener("click", function () {
            document.getElementById("infoModal" + i).style.opacity = "0";
            setTimeout(function () {
                document.getElementById("infoModal" + i).style.opacity = "1";
                infoModal.close();
            }, 500);

        })
    }
    function closedialog() {
        close.addEventListener("click", function () {
            document.getElementById("infoModal1").style.opacity = "0";
            setTimeout(function () {
                document.getElementById("infoModal1").style.opacity = "1";
                infoModal.close();
            }, 500);
        })
    }

    AOS.init();

</script>


<!-- <script src="js/jquery.sticky.js"></script> -->






</html>